spring:
  profiles:
    active: local
  application:
    name: auth-service
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
    default-schema: auth_schema
    liquibase-schema: auth_schema

server:
  port: ${PORT:8081}

management:
  endpoints:
    web:
      exposure:
        include: health