spring:
  profiles:
    active: local
  application:
    name: auth-service
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health