spring:
  profiles:
    active: dev
  application:
    name: profile-service
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health