spring:
  profiles:
    active: local
  application:
    name: profile-service
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
    default-schema: profile_schema
    liquibase-schema: profile_schema

server:
  port: ${PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always