spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tanuki-db
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default_schema: profile_schema
